#h {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.container {
    background-color: rgb(243, 225, 203);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sb {
    text-align: center;
    width: 700px;
    height: 700px;
}

img {
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.fcont {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

